<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box1">
            <figure>
                <a href="#">
                    <img src="public\images\EmpLogo.png" alt="Logo de SLee Dw">
                </a>
            </figure>
        </div>
        <div class="box1">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
        </div>
        <div class="box1">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"><img src="public\images\iconfacebook.png" alt="Logo de facebook"></a>
                <a href="#" class="fa fa-instagram"><img src="public\images\iconinstagram.png" alt="Logo de instagram"></a>
                <a href="#" class="fa fa-twitter"><img src="public\images\icontiwtter.png" alt="Logo de twitter"></a>
                <a href="#" class="fa fa-whatsapp"><img src="public\images\iconwhatsapp.png" alt="Logo de whatsapp"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>Digital Solution</b></small>
    </div>
</footer>


<!---d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top
  col-md-4 d-flex align-items-center
mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1-->

